:root {
    --dark-color: #025e73;
    --light-gray: #eff3f7;
    --white: #fff;
    --glowing: #91f2e9;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica, Arial, sans-serif;
}

/* styling body-header - Heading, Nav bar & BG header image */

.body-header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-color);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    overflow: hidden; /* added to cover rest of BG-h-img when avoid shrinking or stretching */
}


.Alaa-h-bar {
    color: var(--white);
    margin-left: 25px;
}

.Alaa-h-bar p {
    text-decoration: underline;
    text-decoration-color: var(--glowing);
    text-decoration-thickness: 2px;
}


/* nav-bar style */
.nav-bar li {
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

.nav-bar li>a {
    text-decoration: none;
    color: var(--light-gray);
}

.nav-bar li>a:hover {
    color: var(--glowing);
    padding-bottom: 3px;
    border-bottom: var(--glowing) 3px solid;
}

/* END OF : nav-bar style */



.BG-h-img {
    object-fit: cover; /* added for stop shrinking or stretching BG-h-img */
    height: 200px;
    width: 100%;
    border-bottom: 6px solid var(--dark-color);
    z-index: -1;
}

/* END OF : styling Header - Heading, Nav bar & BG header image */



/* personal image */
.white-circle {
    position: absolute;
    left: 15%;
    top: 195px;
    width: 200px;
    height: 200px;
    background-color: var(--white);
    border: 2px solid var(--dark-color);
    border-radius: 180px;
    z-index: 1;
}

#my-image img {
    position: absolute;
    left: 15%;
    top: 195px;
    width: 200px;
    height: 200px;
    padding: 5px;
    border-radius: 180px;
    border: 6px solid var(--dark-color);
    z-index: 1;
}

/* END OF : personal image */



.portfolio {
    display: flex;
    flex-direction: column;
}


/*  styling : about me  */
.about-me {
    display: flex;
}

.about-me h2 {
    width: 270px;
    height: 300px;
    background-color: var(--light-gray);
    border-right: 6px solid var(--dark-color);
    text-align: right;
    padding-right: 15px;
    padding-top: 120px;
    color: var(--black)
}

.about-me p {
    padding-top: 120px;
    margin-left: 75px;
    color: var(--black);
    line-height: 20px;
}

/* END OF : styling about me  */



/* styling My-work */

.MYW {
    display: flex;
}

.MYW h2 {
    background-color: var(--light-gray);
    border-right: 6px solid var(--dark-color);
    text-align: right;
    color: var(--black);
    width: 270px;
    height: 300px;
    padding-right: 15px;
    padding-top: 15px;
}


.pro-img {

    width: 400px;
    height: 400px;

}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project-1, .project-2, .project-3,
.project-4, .project-5 {
    position: relative;
}


.JavaScript, .sign-up, .tourism,
.juice-app, .order-page {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: var(--dark-color);
    color:var(--light-gray);
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--glowing);
    border-radius: 5px;
}

/* END OF : styling My-work */


/* styling contact-me */
.contact-me {
    display: flex;
    justify-content: start;
}



.contact-me h2 {
    width: 270px;
    height: 150px;
    background-color: var(--light-gray);
    border-right: 6px solid var(--dark-color);
    text-align: right;
    padding-right: 15px;
    padding-top: 15px;
    color: var(--black)
}



.UWCM {
    display: flex;
    margin-left: 0px;
    flex-wrap: nowrap;
    justify-self: space-between;

}


.UWCM ul li {
    display: inline-block;
    list-style: none;
    padding-left: 15px;
    padding-top: 15px;
    
}

.UWCM li>a {
    color: var(--dark-color);
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: var(--dark-color);
    text-decoration-thickness: 3px;
}

.phone {
    color: var(--dark-color);
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: var(--dark-color);
    text-decoration-thickness: 3px;
}
/* END OF :styling contact-me */



/*  styling footer  */
footer {
    background-color: var(--dark-color);
    clear: both;
    color: var(--light-gray);
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.barrier {
    color: var(--glowing);
}

/*  END OF : styling footer  */


/*
.about-me,
.MYW,
.projects,
.contact-me {
    border: 1px #ccc solid;
    padding: 10px;
}
*/